<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ fennecForm.version.id }}'),
        {{ fennecForm.version.suggestions|safe }},
        $('#{{ fennecForm.buildNumber.id }}'),
        {{ fennecForm.buildNumber.suggestions|safe }}
    );
    setupBranchSuggestions(
        $('#{{ fennecForm.branch.id }}'),
        {{ fennecForm.branch.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ fennecForm.mozillaRelbranch.id }}'),
        $('#{{ fennecForm.mozillaRevision.id }}')
    );
})
</script>
{{ fennecForm.hidden_tag() }}
<div class="submit_release">
    {{ fennecForm.version.label()|safe }}
    {{ fennecForm.version(placeholder='15.0b6')|safe }}
</div>
<div class="submit_release">
    {{ fennecForm.buildNumber.label()|safe }}
    {{ fennecForm.buildNumber(placeholder='1')|safe }}
</div>
<div class="submit_release">
    {{ fennecForm.branch.label()|safe }}
    {{ fennecForm.branch(placeholder='releases/mozilla-beta', title='The branch to build the release from, relative to the root of the VCS.')|safe }}
</div>
<div class="submit_release">
    {{ fennecForm.mozillaRevision.label()|safe }}
    {% if fennecForm.mozillaRelbranch.data %}
        {{ fennecForm.mozillaRevision(disabled='disabled', title='If relbranch is specified this field is disabled and the tip of it will be used as the revision.')|safe }}
    {% else %}
        {{ fennecForm.mozillaRevision(placeholder='abcdef123456', title='If relbranch is specified this field is disabled and the tip of it will be used as the revision.')|safe }}
    {% endif %}
</div>
<div class="submit_release">
    {{ fennecForm.dashboardCheck.label()|safe }}
    {{ fennecForm.dashboardCheck(title='Whether or not to ensure that the changesets given in the form match the ones on the dashboard. Generally only used for betas.')|safe }}
</div>
<div class="submit_release">
    {{ fennecForm.l10nChangesets.label()|safe }}
    {{ fennecForm.l10nChangesets(placeholder='{"ca": {"revision": "abcdef123456", "platforms": ["android"]}', title='The l10n changesets, in JSON format. Generally these are copied and pasted from elsewhere.')|safe }}
</div>
<h4>Advanced Options:</h4>
<div class="advanced">
<div class="submit_release">
    {{ fennecForm.mozillaRelbranch.label()|safe }}
    {% if fennecForm.mozillaRevision.data %}
        {{ fennecForm.mozillaRelbranch(disabled='disabled', title='The relbranch to put version bumps/tags for this release on. If not specified, one will be generated automatically.')|safe }}
    {% else %}
        {{ fennecForm.mozillaRelbranch(title='The relbranch to put version bumps/tags for this release on. If not specified, one will be generated automatically.')|safe }}
    {% endif %}
</div>
</div><!-- advanced -->
