<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ fennecForm.version.id }}'),
        {{ fennecForm.version.suggestions|safe }},
        $('#{{ fennecForm.buildNumber.id }}'),
        {{ fennecForm.buildNumber.suggestions|safe }},
        $('#{{ fennecForm.branch.id }}'),
        [], // Partial. Meaningless for fennec
        [] // Ditto
    );
    setupBranchSuggestions(
        $('#{{ fennecForm.branch.id }}'),
        {{ fennecForm.branch.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ fennecForm.mozillaRelbranch.id }}'),
        $('#{{ fennecForm.mozillaRevision.id }}')
    );
})
</script>
{{ fennecForm.hidden_tag() }}
<div class="submit_release">
    {{ fennecForm.version.label()|safe }}
    {{ fennecForm.version(placeholder='28.0b6')|safe }}
    <div class="help">Fennec (Android) beta releases are only generated for beta 1, 2, 4, 6, 8 and 10. However, in some cases, release manager might want to build an extra Fennec release (ex: critical bug fixes).</div>
</div>
<div class="submit_release">
    {{ fennecForm.buildNumber.label()|safe }}
    {{ fennecForm.buildNumber(placeholder='1')|safe }}
    <div class="help">Build number must be set to 1 for the first release with this version. If a previous build has already been attempted and it has tagged the source repositories, build 2 or higher should be used. Generally, the autofilled value for this is correct.</div>
</div>
<div class="submit_release">
    {{ fennecForm.branch.label()|safe }}
    {{ fennecForm.branch(placeholder='releases/mozilla-beta')|safe }}
    <div class="help">
        <div class="warning"></div>
        The branch to build the release from, relative to the root of the VCS.
    </div>
</div>
<div class="submit_release">
    {{ fennecForm.mozillaRevision.label()|safe }}
    {% if fennecForm.mozillaRelbranch.data %}
        {{ fennecForm.mozillaRevision(disabled='disabled')|safe }}
    {% else %}
        {{ fennecForm.mozillaRevision(placeholder='abcdef123456')|safe }}
    {% endif %}
    <div class="help">If a relbranch is specified this field is disabled and ignored. The tip of the relbranch will be used instead. It is strongly recommended to select a changeset which has been fully built/tested on the Treeherder tool (example for beta: <a href="https://treeherder.mozilla.org/#/jobs?repo=mozilla-beta">Beta</a> or <a href="https://treeherder.mozilla.org/#/jobs?repo=mozilla-release">Release</a>)</div>
</div>
<div class="submit_release">
    {{ fennecForm.release_eta_date.label()|safe }}
    {{ fennecForm.release_eta_date(placeholder='2017-06-01')|safe }}
    <div class="help">Date at which the release is planned to be public. This date is used by Balrog to automatically activate the new rule. One extra condition: The new rule should be signed off by a set of human before going live. In the case the date expires, the rule will go live immediately after every signoff is made.</div>
</div>
<div class="submit_release">
    {{ fennecForm.release_eta_time.label()|safe }}
    {{ fennecForm.release_eta_time(placeholder='00:00 UTC')|safe }}
    <div class="help">Time at which the release is planned to be public. This must be used alongside the previous field.</div>
</div>
<h4>Advanced Options:</h4>
<div class="advanced">
<div class="submit_release">
    {{ fennecForm.l10nChangesets.label()|safe }}
    {{ fennecForm.l10nChangesets(placeholder='{"ca": {"revision": "abcdef123456", "platforms": ["android"]}')|safe }}
    <div class="help">
        <div class="warning"></div>
        The l10n changesets for this release, in JSON format. Betas and release-channel releases these are normally copied from the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. ESR releases re-use the same changesets as the previous release on the same branch. For more information consult <a href="https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#L10N_Changesets">the milestone creation documentation</a>
    </div>
</div>
<div class="submit_release">
    {{ fennecForm.mozillaRelbranch.label()|safe }}
    {% if fennecForm.mozillaRevision.data %}
        {{ fennecForm.mozillaRelbranch(disabled='disabled')|safe }}
    {% else %}
        {{ fennecForm.mozillaRelbranch()|safe }}
    {% endif %}
    <div class="help">If a revision is specified this field is disabled and ignored otherwise the relbranch specified will be used put version bumps/tags for this release on. If not specified, one will be generated automatically during tagging. When provided the release will be created from tip of this branch thus it cannot be used in conjunction with revision.</div>
</div>
<div class="submit_release">
    {{ fennecForm.mh_changeset.label()|safe }}
    {{ fennecForm.mh_changeset(placeholder='abcdef123456')|safe }}
    <div class="help">Mozharness changeset. If unset defaults to using the mozilla revision of the build. Not used in non release promotion scenario.</div>
</div>
</div><!-- advanced -->
