<script type='text/javascript'>
URLToPartial="//relman-vm1.dmz.scl3.mozilla.com/partial.json";
$(document).ready(function() {

    $.getJSON( URLToPartial )
    .done(function( allPartial ) {
        window.allPartial = allPartial;
    })
    .fail(function( jqxhr, textStatus, error ) {
        var err = textStatus + ", " + error;
        console.log( "Request Failed: " + err );
   });

    setupVersionSuggestions(
        $('#{{ firefoxForm.version.id }}'),
        {{ firefoxForm.version.suggestions|safe }},
        $('#{{ firefoxForm.buildNumber.id }}'),
        {{ firefoxForm.buildNumber.suggestions|safe }},
        $('#{{ firefoxForm.branch.id }}'),
        $('#{{ firefoxForm.partials.id }}'),
        {{ firefoxForm.partials.suggestions|safe }},
        $('#{{ firefoxForm.dashboardCheck.id }}'),
        $('#partialInfo')
    );
    setupBranchSuggestions(
        $('#{{ firefoxForm.branch.id }}'),
        {{ firefoxForm.branch.suggestions|safe }},
        $('#{{ firefoxForm.partials.id }}'),
        {{ firefoxForm.partials.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ firefoxForm.mozillaRelbranch.id }}'),
        $('#{{ firefoxForm.mozillaRevision.id }}')
    );
})
</script>
{{ firefoxForm.hidden_tag() }}
<div class="submit_release">
    {{ firefoxForm.version.label()|safe }}
    {{ firefoxForm.version(placeholder='28.0b6')|safe }}
    <div>&nbsp;</div>
</div>
<div class="submit_release">
    {{ firefoxForm.buildNumber.label()|safe }}
    {{ firefoxForm.buildNumber(placeholder='1')|safe }}
    <div class="help">Build number must be set to 1 for the first release with this version. If a previous build has already been attempted and it has tagged the source repositories, build 2 or higher should be used. Generally, the autofilled value for this is correct.</div>
</div>
<div class="submit_release">
    {{ firefoxForm.branch.label()|safe }}
    {{ firefoxForm.branch(placeholder='releases/mozilla-beta')|safe }}
    <div class="help">The branch to build the release from, relative to the root of the VCS.</div>
</div>
<div class="submit_release">
    {{ firefoxForm.mozillaRevision.label()|safe }}
    {% if firefoxForm.mozillaRelbranch.data %}
        {{ firefoxForm.mozillaRevision(disabled='disabled')|safe }}
    {% else %}
        {{ firefoxForm.mozillaRevision(placeholder='abcdef123456')|safe }}
    {% endif %}
    <div class="help">If a relbranch is specified this field is disabled and ignored. The tip of the relbranch will be used instead. It is strongly recommended to select a changeset which has been fully built/tested on the TBPL tool (examples: <a href="https://tbpl.mozilla.org/?tree=Mozilla-Beta">Beta</a> or <a href="https://tbpl.mozilla.org/?tree=Mozilla-Release">Release</a>)</div>
</div>
<div class="submit_release">
    {{ firefoxForm.partials.label()|safe }}
    {{ firefoxForm.partials(placeholder='15.0b5build1,15.0b4build2')|safe }}
    <div class="helpPartial" id="partialInfo"></div>
    <div class="help">A comma separated list of previous releases to create partial updates for. You MUST list the previous release from the chosen branch as one of the partials. For release-channel releases the recommend number of partials is 4, for Betas it's 3, and for ESRs only 1. Each partial chosen adds roughly 1.5h to the end-to-end time of the release.</div>
</div>
<div class="submit_release">
    {{ firefoxForm.l10nChangesets.label()|safe }}
    {{ firefoxForm.l10nChangesets(placeholder='de abcdef123456', title='The l10n changesets, in release automation format.')|safe }}
    <div class="help">The l10n changesets for this release (first column: locale, second: revision). Betas and release-channel releases these are normally copied from the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. ESR releases re-use the same changesets as the previous release on the same branch. For more information consult <a href="https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#L10N_Changesets">the milestone creation documentation</a></div>
</div>
<h4>Advanced Options:</h4>
<div class="advanced">
<div class="submit_release">
    {{ firefoxForm.dashboardCheck.label()|safe }}
    {{ firefoxForm.dashboardCheck()|safe }}
    <div class="help">Whether or not to ensure that the changesets given match the ones on the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. This should be turned on for all betas and turned off for all other releases.</div>
</div>
<div class="submit_release">
    {{ firefoxForm.mozillaRelbranch.label()|safe }}
    {% if firefoxForm.mozillaRevision.data %}
        {{ firefoxForm.mozillaRelbranch(disabled='disabled')|safe }}
    {% else %}
        {{ firefoxForm.mozillaRelbranch()|safe }}
    {% endif %}
    <div class="help">If a revision is specified this field is disabled and ignored otherwise the relbranch specified will be used put version bumps/tags for this release on. If not specified, one will be generated automatically during tagging. When provided the release will be created from tip of this branch thus it cannot be used in conjunction with revision.</div>
</div>
<div class="submit_release">
    {{ firefoxForm.promptWaitTime.label()|safe }}
    {{ firefoxForm.promptWaitTime()|safe }}
    <div class="help">Number of seconds to wait before prompting users to apply the update to this release. Not specifying this will use the default value as specified in the application.</div>
</div>
</div> <!-- advanced -->

