<table id="running">
  <thead>
    <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Description</th>
        <th>Submitted By</th>
        <th>Submitted At</th>
        <th>Branch</th>
        <th>Mozilla Revision</th>
        <th>Mozilla Relbranch</th>
        <th>Comm Revision</th>
        <th>Comm Relbranch</th>
        <th>Check Dashboard?</th>
        <th>L10n Changesets</th>
        <th>Partial Versions</th>
        <th>Update Prompt Wait Time</th>
        <th>Mozharness changeset</th>
        <th>Build comment</th>
        <th>Shipped At</th>
        <th>Shipped?</th>
    </tr>
  </thead>


</table>

<!-- <h1>No running/completed releases!</h1> -->
