<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ thunderbirdForm.version.id }}'),
        {{ thunderbirdForm.version.suggestions|safe }},
        $('#{{ thunderbirdForm.buildNumber.id }}'),
        {{ thunderbirdForm.buildNumber.suggestions|safe }}
    );
    setupBranchSuggestions(
        $('#{{ thunderbirdForm.branch.id }}'),
        {{ thunderbirdForm.branch.suggestions|safe }},
        $('#{{ thunderbirdForm.partials.id }}'),
        {{ thunderbirdForm.partials.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ thunderbirdForm.mozillaRelbranch.id }}'),
        $('#{{ thunderbirdForm.mozillaRevision.id }}')
    );
    setupRevisionDisabling(
        $('#{{ thunderbirdForm.commRelbranch.id }}'),
        $('#{{ thunderbirdForm.commRevision.id }}')
    );
})
</script>
{{ thunderbirdForm.hidden_tag() }}
<div class="submit_release">
    {{ thunderbirdForm.version.label()|safe }}
    {{ thunderbirdForm.version(placeholder='15.0b6')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.buildNumber.label()|safe }}
    {{ thunderbirdForm.buildNumber(placeholder='1')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.branch.label()|safe }}
    {{ thunderbirdForm.branch(placeholder='releases/comm-beta', title='The branch to the build the release from, relative to the root of the VCS.')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.mozillaRevision.label()|safe }}
    {% if thunderbirdForm.mozillaRelbranch.data %}
        {{ thunderbirdForm.mozillaRevision(disabled='disabled', title='If relbranch is specified this field is disabled and the tip of it will be used as the revision.')|safe }}
    {% else %}
        {{ thunderbirdForm.mozillaRevision(placeholder='abcdef123456', title='If relbranch is specified this field is disabled and the tip of it will be used as the revision.')|safe }}
    {% endif %}
</div>
<div class="submit_release">
    {{ thunderbirdForm.commRevision.label()|safe }}
    {% if thunderbirdForm.commRelbranch.data %}
        {{ thunderbirdForm.commRevision(disabled='disabled', title='If relbranch is specified this field is disabled and the tip of it will be used as the revision.')|safe }}
    {% else %}
        {{ thunderbirdForm.commRevision(placeholder='abcdef123456', title='If relbranch is specified this field is disabled and the tip of it will be used as the revision.')|safe }}
    {% endif %}
</div>
<div class="submit_release">
    {{ thunderbirdForm.partials.label()|safe }}
    {{ thunderbirdForm.partials(placeholder='15.0b5build1', title='A comma separated list of previous releases to create partial updates for.')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.dashboardCheck.label()|safe }}
    {{ thunderbirdForm.dashboardCheck(title='Whether or not to ensure that the changesets given in the form match the ones on the dashboard. Generally only used for betas.')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.l10nChangesets.label()|safe }}
    {{ thunderbirdForm.l10nChangesets(placeholder='ru abcdef123456', title='The l10n changesets, in release automation format.')|safe }}
</div>
<h4>Advanced Options:</h4>
<div class="advanced">
<div class="submit_release">
    {{ thunderbirdForm.mozillaRelbranch.label()|safe }}
    {{ thunderbirdForm.mozillaRelbranch(title='The relbranch to put version bumps/tags for this release on. If not specified, one will be generated automatically.')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.promptWaitTime.label()|safe }}
    {{ thunderbirdForm.promptWaitTime(title='Amount of time to wait before prompting users to apply the update to this release. Not specifying this will use the default value as specified in the application.')|safe }}
</div>
<div class="submit_release">
    {{ thunderbirdForm.commRelbranch.label()|safe }}
    {{ thunderbirdForm.commRelbranch(title='The relbranch to put version bumps/tags for this release on. If not specified, one will be generated automatically.')|safe }}
</div>
</div> <!-- advanced -->
