A {
    text-decoration: none;
}

hr {
}

table {
    border-collapse: collapse;
}

tr td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

td {
    padding: .25em 1ex .25em .5ex;
}

#nav {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    float: left;
    list-style: none;
    width: 100%;
}

#nav li {
    display: inline;
    padding-right: .5em;
    padding-left: .5em;
    border-right: 1px solid;
    float: left;
}

#nav :last-child {
    border-right: none;
}

#nav li a {
    display: block;
}

.complete {
    background-color: green;
}

.incomplete {
    background-color: yellow;
}
