body {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
    color: rgb(51, 51, 51);
}

/* release table */
#releases {
    font-size: 0.8em;
}

/* submit release form */
.submit_release {
   padding-bottom: 1em;
}

/* submit release form labels*/
.submit_release label {
    float: left;
    width: 20em;
}

.submit_release textarea,
.submit_release input {
    float: left;
    width: 25em;
}

.help {
    margin-left: 45.5em;
    color: red;
}

.helpPartial {
    margin-left: 45.5em;
}

.errorText {
    color: red;
    font-weight: bold;
}

.status_complete {
    color: green;
    font-weight: bold;
}

/* submit release form advanced fileds*/
.advanced {
    border-top:2px solid LightGray;
    margin-top:20px;
    padding-top: 20px
}

table
{
   border-collapse:collapse;
}

#edit_container {
    font-size: 1.1em;
    width: 70%;
    margin-left: 20px;
}

#radio {
    text-align: center;
}

#footer {
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 1ex;
    text-align: center;
}

.rel {
    margin: 0 auto;
    border-style:solid;
    border-color: #C8C8C8;
    border-width:1px;
    min-width: 500px;
    margin-bottom: 20px;
    width: 95%;
}

.comment {
    margin: 0 auto;
    min-width: 500px;
    margin-bottom: 20px;
    width: 95%;
}

.release_title {
    font-size: 200%;
    clear: left;
}

.release_footer {
    clear: left;
}

.release_buttons {
    width: 20%;
    padding: 0 2%;
    float: left;
    padding-top: 20px;
}

.release_data {
    width: 70%;
    margin: 0 0% 0 25%;
}

body,
html {
    margin:0;
    padding:0;
}


/* ready and delte buttons on releases page*/
div label input {
   margin-right:100px;
}
body {
    font-family: 'Open Sans', sans-serif;
}


.delete-button,
.ready-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.delete-button label,
.ready-button label {
    float:left;
    width:4.0em;
}

.delete-button label span,
.ready-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.delete-button label input,
.ready-button label input {
    position:absolute;
    top:-20px;
}

.ready-button input:checked + span {
    background-color:#339933;
    color:#fff;
}

.delete-button input:checked + span {
    background-color:#911;
    color:#fff;
}

.delete-button input:disabled + span,
.ready-button input:disabled + span {
    background-color:#EFEFEF;
    color:#D0D0D0;
}

th.incomplete,
th.running {
    font-size:12px;
}
tr.incomplete,
tr.running {
    font-size:10px;
}

@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Light.ttf) format("truetype");
}

.huge, .large, h1, h2, h3, h4 {
    font-family: 'OpenSans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: normal;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
}

.huge {
    font-size: 108px;
    letter-spacing: -4px;
    line-height: 100%;
}

.large {
    font-size: 72px;
    letter-spacing: -3px;
    line-height: 100%;
}

h1 {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 100%;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 100%;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
    line-height: 100%;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
    line-height: 100%;
}

.small, small {
    font-size: 12px;
    line-height: 100%;
}

/* menu */
#menu ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

#menu a
{
    text-decoration: none;
    text-align: center;
}

#menu a:hover
{
    border-bottom: 5px solid;
}

#menu li
{
    color: black;
    margin-right: 3em;
    font-size: 150%;
    color: black;
    display: inline;
    padding: 10px;
}

#menu {
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
}

#errors {
    color:#fff;
    font-weight:bold;
    text-shadow:0 1px #333;
    line-height:16px;
    background-color:#aa1401;
    background-image:-moz-linear-gradient(top,rgba(218,81,50,0.9),#a91300);
    background-image:-ms-linear-gradient(top,rgba(218,81,50,0.9),#a91300);
    background-image:-o-linear-gradient(top,rgba(218,81,50,0.9),#a91300);
    background-image:linear-gradient(top,rgba(218,81,50,0.9),#a91300);
    border-radius:4px;
    padding:10px 15px;
    box-shadow:0 1px #666;
    max-width:275px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

/* status/<release-name>.html page */

#title {
    margin-bottom: -15px;
    margin-top: -30px;
    padding-left: 20px;
    padding-right: 20px;
}

#title h2 {
    text-align: center;
    font-weight: bold;
}

#progress-container {
    margin-bottom: -22px;
}

#progress-container h3 {
    margin-left: 10%;
}

#main-progress {
    position: absolute;
    width: 80%;
    margin-left: 11%;
}

#collapse-progress {
    margin-bottom: -30px;
}

#top-sub-progress-container {
    margin-top: 50px;
}

#top-sub-progress-container h4 {
    margin-top: 0px;
    margin-left: -23px;
}

#sub-progress-container h4 {
    margin-top: 0px;
    margin-left: -23px;
}

#sub-progress {
    margin-top: 3px;
    margin-left: -11px;
}

#sub-progress-bar {
    margin-left: -15px;
}

#collapse-button {
    padding-top: 30px;
    text-align: center;
}

#collapse-hidden {
    padding-top: 48px;
    text-align: center;
}

/* disable column highlighting when selected */
table.dataTable tr.odd td.sorting_1 { background-color: transparent; }
table.dataTable tr.even td.sorting_1 { background-color: transparent; }

