/* General stuff */
a {
    text-decoration: none;
}

#nav {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    float: left;
    list-style: none;
    width: 100%;
    background: #cccccc;
    border: solid #a6a6a6 thin
}

#nav li {
    display: inline;
    border-right: 1px solid;
    float: left;
}

#nav li a:hover {
    background: white;
}

#nav :last-child {
    border-right: none;
}

#nav li a {
    padding-right: .5em;
    padding-left: .5em;
    width: 100%;
}

/* Release submission */
#column_container {
    width: 100%;
}

#column_container > h3 {
}

#column_container > div, #edit_container {
    float: left;
    width: 32%;
    margin-right: 2%;
}

label {
    float: left;
    width: 200px;
}

#column_container > div:last-child {
    margin-right: 0;
}

#column_container > div > form > div:last-child, #edit_container > div:last-child {
    text-align: center;
}

h3 {
    text-align: center;
}

input[type=text] {
    width: 50%;
}

textarea {
    width: 50%;
    height: 10ex;
}

fieldset {
    border: none;
}

fieldset > div:last-child {
    background-color: inherit;
}

/* Release list */
table {
    border-collapse: collapse;
}

tr, td, th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

th {
    background-color: #cccccc;
    padding: .25em 1ex .25em .5ex;
}

td {
    padding: .25em 1ex .25em .5ex;
}

h2 {
    margin: 0;
    margin-bottom: 1ex;
}

.complete {
    background-color: lime;
}

.notready {
    background-color: yellow;
}

.title {
    border-bottom: solid #a6a6a6 thin;
}

td.disabled {
    background-color: #ccc;
}
