<!DOCTYPE HTML>
<html lang='en-US'>
<head>
<title>Ship it!</title>
<!-- favicon -->
<link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}" />
<!-- js -->
<script type='text/javascript' src="{{ url_for("static", filename="suggestions.js") }}"></script>
<script type='text/javascript' src="{{ url_for("static", filename="jquery-ui-1.10.2.custom.min.js") }}"></script>
<script type='text/javascript' src="{{ url_for("static", filename="jquery-1.9.1.min.js") }}"></script>
<script type='text/javascript' src="{{ url_for("static", filename="jquery-ui.min.js") }}"></script>
<script type='text/javascript' src="{{ url_for("static", filename="jquery.dataTables.min.js") }}"></script>
<script type='text/javascript' src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>
<script type='text/javascript' src="{{ url_for("static", filename="kickoff.js") }}"></script>
<!-- css -->
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="bootstrap.min.css") }}'>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="font-awesome-4.1.0/css/font-awesome.min.css") }}'>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="jquery.dataTables.css") }}' />
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="jquery-ui-1.10.2.custom.min.css") }}' />
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="kickoff.css") }}' />
<script>$(function() { initialSetup(); });</script>
</head>
<body>
<h1>Ship it</h1>
<div id="menu">
<ul>
<li><a href="{{ url_for('submit_release') }}">Submit a new release</a></li>
<li><a href="{{ url_for('releases') }}">View releases</a></li>
</ul>
</div><!-- topbar -->
{% block content %}{% endblock %}
<div id="footer">
<a href="https://github.com/mozilla/ship-it/">Source code</a> / <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Release%20Engineering&component=Release%20Automation">Report bug</a>
</div>
</body>
</html>
