{% extends "base.html" %}
{% block content %}

Compared to the PHP based product details, a few changes can be found:
<ul>
  <li>
  firefox_beta_builds.json no longer exist it was very likely unused
  </li>
  <li>
  firefox_primary_builds.json no longer provide the file size. Causing the list of version to be an JSON array instead of a JSON dict
  </li>
  <li>
  mobile_details.json no longer have the locale field as it was badly structured and probably never used
  </li>
  <li>mobile_versions.json has been introduced to match firefox_versions.json & thunderbird_versions.json filename. It is just an alias
  </li>
  <li>thunderbird_versions.json now shows the beta version
  </li>
</ul>

<a href="/json/firefox_history_development_releases.json">firefox_history_development_releases.json</a><br />


<a href="/json/firefox_history_major_releases.json">firefox_history_major_releases.json</a><br />

<a href="/json/firefox_history_stability_releases.json">firefox_history_stability_releases.json</a><br />


<a href="/json/firefox_primary_builds.json">firefox_primary_builds.json</a><br />


<a href="/json/firefox_versions.json">firefox_versions.json</a><br />


<a href="/json/languages.json">languages.json</a><br />

<a href="/json/mobile_details.json">mobile_details.json</a> / <a href="/json/mobile_versions.json">mobile_versions.json</a> (same content)<br />

<a href="/json/mobile_history_development_releases.json">mobile_history_development_releases.json</a><br />


<a href="/json/mobile_history_major_releases.json">mobile_history_major_releases.json</a><br />


<a href="/json/mobile_history_stability_releases.json">mobile_history_stability_releases.json</a><br />
<a href="/json/thunderbird_versions.json">thunderbird_versions.json</a><br />
<a href="/json/thunderbird_history_development_releases.json">thunderbird_history_development_releases.json</a><br />
<a href="/json/thunderbird_history_major_releases.json">thunderbird_history_major_releases.json</a><br />
<a href="/json/thunderbird_history_stability_releases.json">thunderbird_history_stability_releases.json</a><br />

<a href="/json/thunderbird_beta_builds.json">thunderbird_beta_builds.json</a><br />
<a href="/json/thunderbird_primary_builds.json">thunderbird_primary_builds.json</a><br />

{% endblock %}
