{% extends "base.html" %}
{% block content %}

Compared to the PHP based product details, a few changes can be found:
<ul>
  <li>
  firefox_beta_builds.json no longer exist it was very likely unused
  </li>
  <li>mobile_versions.json has been introduced to match firefox_versions.json & thunderbird_versions.json filename.
  </li>
  <li>thunderbird_versions.json now shows the beta version
  </li>
</ul>
{% for json in jsonFiles %}
<a href="{{ json[0] }}">{{ json[1] }}</a><br />
{% endfor %}

<a href="/json/{{ json_ver }}/l10n/list.html">l10n</a><br />
<a href="/json/{{ json_ver }}/regions/list.html">regions</a>
{% endblock %}
