{% extends "base.html" %}
{% block content %}

Compared to the PHP based product details, a few changes can be found:
<ul>
  <li>
  firefox_beta_builds.json no longer exist it was very likely unused
  </li>
  <li>
  firefox_primary_builds.json no longer provide the file size. Causing the list of version to be an JSON array instead of a JSON dict
  </li>
  <li>
  mobile_details.json no longer have the locale field as it was badly structured and probably never used
  </li>
  <li>mobile_versions.json has been introduced to match firefox_versions.json & thunderbird_versions.json filename. It is just an alias
  </li>
  <li>thunderbird_versions.json now shows the beta version
  </li>
</ul>
{% for json in jsonFiles %}
<a href="{{ json[0] }}">{{ json[1] }}</a><br />
{% endfor %}

<a href="/json/regions/list.html">regions</a>
{% endblock %}
