{% extends "base.html" %}
{% block content %}
<ul id='errors'>
    {% for e in errors %}
    <li class='error'>{{ e }}</li>
    {% endfor %}
</ul>
  <div id='accordion'>
  <h3>Submitted</h3>
  <div id='notready'>
   {% include 'includes/releases_submitted.html' %}
  </div><!-- submitted -->
  <h3>Reviewed/Complete</h3>
  <div id='tabs'>
    <ul>
      <li><a href="#reviewed-tab">Reviewed</a></li>
      <li><a href="#complete-tab">Complete</a></li>
    </ul>
    <div id="reviewed-tab">
     {% include 'includes/releases_reviewed.html' %}
    </div> <!-- div id=incomplete -->
    <div id="complete-tab">
     {% include 'includes/releases_complete.html' %}
    </div> <!-- div id=complete -->
  </div> <!-- tabs -->
  </div><!-- accordion -->
<script>
 $(document).ready(function() {
   $( "#viewreleases" ).prop('checked', true);
});
</script>
{% endblock %}
