{% extends "base.html" %}
{% block content %}
<ul id='errors'>
    {% for e in errors %}
    <li class='error'>{{ e }}</li>
    {% endfor %}
</ul>
<h2 class="title">Releases:</h2>
<form id='release_readyness' action='{{ url_for('releases') }}' method='post'>
{{ form.hidden_tag() }}
<table id="releases">
<tr>
    <th>Name</th>
    <th>Submitted By</th>
    <th>Branch</th>
    <th>Mozilla Revision</th>
    <th>Comm Revision</th>
    <th>Check Dashboard?</th>
    <th>L10n Changesets</th>
    <th>Partial Versions</th>
    <th>Ready?</th>
    <th>Status</th>
    <th>Delete?</th>
</tr>
{% for rel in releases %}
{% if not rel.ready %}
<tr class='notready'>
{% elif not rel.complete %}
<tr class='incomplete'>
{% else %}
<tr class='complete'>
{% endif %}
    {% if not rel.ready %}
        <td><a href="/release.html?name={{ rel.name }}">{{ rel.name }}</a></td>
    {% else %}
        <td>{{ rel.name }}</td>
    {% endif %}
    <td>{{ rel.submitter }}</td>
    <td>{{ rel.branch }}</td>
    <td>{{ rel.mozillaRevision }}</td>
    {% if 'Thunderbird' in rel.name %}
        <td>{{ rel.commRevision }}</td>
    {% else %}
        <td class="irrelevant">N/A</td>
    {% endif %}
    {% if rel.dashboardCheck %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
    <td><a href="/releases/{{ rel.name }}/l10n">Link</a></td>
    {% if 'Fennec' in rel.name %}
        <td class="irrelevant">N/A</td>
    {% else %}
        <td>{{ rel.partials }}</td>
    {% endif %}
    <td>
    {% if rel.ready %}
        <input id='readyReleases_{{ rel.name }}' type='checkbox' name='readyReleases' value='{{ rel.name }}' checked='checked' disabled='disabled' />
    {% else %}
        <input id='readyReleases_{{ rel.name }}' type='checkbox' name='readyReleases' value='{{ rel.name }}' />
    {% endif %}
    </td>
    <td>{{ rel.status }}</td>
    <td>
    {% if not rel.complete and not rel.ready %}
        <input id='deleteReleases_{{ rel.name }}' type='checkbox' name='deleteReleases' value='{{ rel.name }}' onclick='disableReady("{{ rel.name }}")' />
    {% else %}
        <input type='checkbox' name='deleteReleases' value='{{ rel.name }}' disabled='disabled' />
    {% endif %}
    </td>
{% endfor %}
</table>
<input type='submit' value='Do eet!' />
</form>

<script type='text/javascript'>
function disableReady(release) {
    readyCheckbox = document.getElementById('readyReleases_' + release);
    deleteCheckbox = document.getElementById('deleteReleases_' + release);
    if (deleteCheckbox.checked) {
        readyCheckbox.checked = false;
        readyCheckbox.disabled = true;
    }
    else {
        readyCheckbox.disabled = false;
    }
}
</script>
{% endblock %}
