{% extends "base.html" %}
{% block content %}
<ul id='errors'>
    {% for e in errors %}
    <li class='error'>{{ e }}</li>
    {% endfor %}
</ul>
<div id='column_container'>
<div>
    <h3>Fennec</h3>
    <form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post'>
    {% include 'includes/fennec_release.html' %}
    <div>
        <input type='submit' value='Gimme a Fennec!' />
    </div>
    </form>
</div>
<div>
    <h3>Firefox</h3>
    <form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post'>
    {% include 'includes/firefox_release.html' %}
    <div>
        <input type='submit' value='Gimme a Firefox!' />
    </div>
    </form>
</div>
<div>
    <h3>Thunderbird</h3>
    <form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post'>
    {% include 'includes/thunderbird_release.html' %}
    <div>
        <input type='submit' value='Gimme a Thunderbird!' />
    </div>
    </form>
</div>
</div>
{% endblock %}
